<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Developers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <h3 class="navbar-brand">GRC Student-Dev-Portal</h3>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/328/student-dev-portal/projects">Backlog</a></li>
            <li><a href="/328/student-dev-portal">Submit a Project</a></li>
        </ul>
    </div>
</nav>
<h1>Development History</h1>
<table class="table">
    <tr>
        <th>class ID</th>
        <th>Class Name</th>
        <th>Instructor</th>
        <th>Quarter</th>
        <th>Instructor notes</th>
        <th>project ID</th>


    </tr>

    <repeat group="{{ @developers }}" value="{{ @developer }}">
        <tr>
            <td>{{ @developer['classID'] }}</td>
            <td>{{ @developer['className'] }}</td>
            <td>{{ @developer['instructor'] }}</td>
            <td>{{ @developer['quarter'] }}</td>
            <td>{{ @developer['instructorNotes'] }}</td>
            <td>{{ @developer['projectID'] }}</td>
        </tr>
    </repeat>

</table>
</body>
</html>