<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Dev Portal</title>
</head>
<body>
<h1>Welcome to the Student Development Portal!</h1>
<form action="" method="get">
    Project Name:<input type="text" name="projectName">
    Project Description:<input type="text" name="projectDescription">
    Company Name:<input type="text" name="companyName">
    Company Location:<input type="text" name="companyLocation">
    Company URL:<input type="text" name="companyURL">

    <h2>Project Info</h2>
    Site URL:<input type="text" name="siteURL">
    Trello Link:<input type="text" name="trelloLink">
    Github Link:<input type="text" name="siteURL">

    <h2>Contact Info</h2>
    Name:<input type="text" name="name">
    Email:<input type="text" name="email">
    Phone:<input type="text" name="phone">

    <button type="submit"></button>

</form>

</body>
</html>