<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
</head>
<body>
<h1>Projects</h1>
<p>Click on a project ID to view development History,
    click the client company to view the client's representatives</p>
<table style="width:100%">
    <tr>
        <th>projectID</th>
        <th>title</th>
        <th>description</th>
        <th>client Company</th>
        <th>Client Location</th>
        <th>Client SIte</th>
        <th>Status</th>
        <th>Trello</th>
        <th>Project URL</th>
        <th>Project Login</th>
        <th>Project Password</th>
    </tr>

    <repeat group="{{ @projects }}" value="{{ @project }}">
        <tr>
            <td><a href="developers/{{ @project['projectID'] }}">{{ @project['projectID'] }}</a></td>
            <td>{{ @project['title'] }}</td>
            <td>{{ @project['description'] }}</td>
            <td><a href="clients/{{ @project['projectID'] }}">{{ @project['clientCompany'] }}</a></td>
            <td>{{ @project['clientLocation'] }}</td>
            <td>{{ @project['clientSite'] }}</td>
            <td>{{ @project['status'] }}</td>
            <td>{{ @project['trello'] }}</td>
            <td>{{ @project['projectURL'] }}</td>
            <td>{{ @project['projectLogin'] }}</td>
            <td>{{ @project['projectPass'] }}</td>
        </tr>
    </repeat>

</table>
</body>
</html>